<% admin_form_produto  do |f| %>

<%= f.error_messages %>

<p>
  Nome: <br/>
  <%= f.text_field :nome %>
  <%= error_message_on @produto, :nome  %>
</p>

<p>
  Preço: <br/>
  <%= f.text_field :preco %>
  <%= error_message_on @produto, :preco  %>
</p>

<p>
  Descrição: <br/>
  <%= f.text_area :descricao %>
</p>

<p><%= submit_tag "Enviar" %> </p>

<% end %>

